In [2]:
import numpy as np
import pandas as pd

### 1. Question 1 
What's the version of NumPy that you installed?

In [3]:
np.__version__

'1.23.3'

### Getting the data

In [8]:
df = pd.read_csv('data.csv')

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2
How many records are in the dataset?

In [18]:
df.shape[0]

11914

### Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [7]:
df.groupby('Make').Make.count().sort_values(ascending=False).head(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4 
What's the number of unique Audi car models in the dataset?

In [21]:
df[df['Make'] == 'Audi']['Model'].nunique()

34

### Question 5
How many columns in the dataset have missing values?

In [16]:
s = df.isnull().sum()
s[s>0].count()

5

### Question 6
Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.

In [21]:
median = df['Engine Cylinders'].median()
mode = df['Engine Cylinders'].mode()
df['Engine Cylinders'].fillna(mode).median() == median

True

### Question 7
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [22]:
X = df[df['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates().values
XTX = X.T.dot(X)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = np.linalg.inv(XTX).dot(X.T).dot(y)
w[0]

4.5949448100945744